<form class="input-form">

  <mat-form-field class="input-70">
    <mat-label>title to search for</mat-label>
    <input matInput placeholder="(incomplete) title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <button class="input-30" mat-raised-button color="primary" (click)="onSubmit()">search
  </button>

</form>

<div id="list-container" class="container">

  <mat-grid-list id="grid-list" cols="2" rowHeight="100px">

    <mat-grid-tile rowspan=2>
      <div class="panel">
        <h4 mat-line>found titles</h4>
        <h5 mat-line>click on movie add to selection</h5>
        <h5 mat-line>ctrl-click on movie to delete</h5>
        <app-movie-list [movies]="foundMovies" (moviesChanged)="onMoviesChanged( $event )"></app-movie-list>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="panel">
        <h4 mat-line>selected titles</h4>
        <h5 mat-line>click on movie to remove from selection</h5>
        <h5 mat-line>shift-click on movie to add to 'watched'</h5>
        <app-movie-list [movies]="selectedMovies" (moviesChanged)="onMoviesChanged( $event )"></app-movie-list>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="panel">
        <h4 mat-line>watched titles</h4>
        <h5 mat-line>shift-click on movie to reset to selection</h5>
        <h5 mat-line>click on rating to add a rating</h5>
        <app-movie-list [movies]="watchedMovies" (moviesChanged)="onMoviesChanged( $event )"></app-movie-list>
      </div>
    </mat-grid-tile>

  </mat-grid-list>

</div>
