.container {
  width: 100vw;
}

.panel {
  width: 100%;
  height: 100%;
  margin: 6px;
  border: 12px solid white;
  border-radius: 12px;
  padding: 6px;
  background: #DDD;
}


.input-form {
  margin: 6px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background: white;
}

.input-70 {
  width: 70%;
  padding: 0 12px;
}
.input-30 {
  padding: 0 12px;
  width: 20%;
}
