<mat-card class="outline">
  {{ movie.title }}

  <div *ngIf="movie.watched" (click)="editRating()">
     rating: {{ movie.myRatings.join(', ') }}

    <form *ngIf="ratingEditable" class="input-form">

      <mat-form-field class="input-50">
        <mat-label>new rating</mat-label>
        <input matInput placeholder="1 to 5" [(ngModel)]="newRating" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button class="input-40" mat-raised-button color="primary" (click)="onSubmit( $event )">rate it!
      </button>

    </form>

  </div>

</mat-card>
