.outline {
  margin: 2px;
  border-style: 1px solid #BBB;
}


.input-form {
  margin: 6px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background: white;
}

.input-50 {
  width: 50%;
  padding: 0 12px;
}
.input-40 {
  padding: 0 12px;
  width: 20%;
}
