<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="80"
    height="80"
    alt="projector"
    src="assets/projector.gif"
  />
  <span>Welcome</span>
  <div class="spacer"></div>
  <a target="_blank" rel="noopener" href="https://www.breingolf.eu" title="Breingolf">
    <img id="breingolf-logo" height="24" src="assets/favicon.ico" />
  </a>
</div>

<div class="content" role="main">

  <router-outlet></router-outlet>

</div>
